<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976351881273-rb1g938cpsfm7bldek5iqap2874qhsm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976351881273-rb1g938cpsfm7bldek5iqap2874qhsm6</string>
	<key>API_KEY</key>
	<string>AIzaSyCR8QiGDDrvL5Nn9VoAtHvIF9P2HUeLgSM</string>
	<key>GCM_SENDER_ID</key>
	<string>976351881273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.bloomspa</string>
	<key>PROJECT_ID</key>
	<string>bloom-spa-f3cc0</string>
	<key>STORAGE_BUCKET</key>
	<string>bloom-spa-f3cc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976351881273:ios:c4841e061c1516cc0085e8</string>
	<key>DATABASE_URL</key>
	<string>https://bloom-spa-f3cc0.firebaseio.com</string>
</dict>
</plist>